extends layout

block content
  h1 Pokemon Card Creator
  div.container
    div.card
      div.info-row.id
        div.name Charmander
        div.right
          div.hp= hp
          div.hpn= HP
          div.type
            img.type(src=`/images/${type}.png`)
      div.pic-head
        div.picture
          img.charmander(src=`/images/${poke_img}.png`)
      div.move1
        div.energy
          img.entype(src=`/images/${type}.png`)
          img.entype(src=`/images/${type}.png`)
          img.entype(src=`/images/${type}.png`)
        div.mName=
        div.mDam 40
      div.move2
        div.energy2
          img.entype(src=`/images/${type}.png`)
        div.mName2=
        div.mDam2 50
      div.cardBottom
        div.weak
          div.weakN Weakness
          img.wentype(src=`/images/${type}.png`)
        div.resistance
          div.resisN Resistance
          img.bentype(src=`/images/${type}.png`)
        div.retreat
          div.retreatN Retreat
          img.rentype(src=`/images/${type}.png`)