extends layout

block content
  h1 Pokemon Card Creator
  div.container
    div.card
      div.info-row.id
        div.name Charmander
        div.right
          div.hp 60HP
          div.type
          img.type(src=`/images/${card.type}.png`)
      div.pic-head
        div.picture
          img.charmander(src='/images/charmander.png')
      div.move1
        div.energy
          img.entype(src=`/images/${card.type}.png`)
        div.mName Ember
        div.mDam 40
      div.move2
        div.energy2
          img.entype(src=`/images/${card.type}.png`)
        div.mName2 Quick Attack
        div.mDam2 50
      div.cardBottom
        div.weak
          div.weakN Weakness
          img.wentype(src=`/images/${card.type}.png`)
        div.resistance
          div.resisN Resistance
          img.bentype(src=`/images/${card.type}.png`)
        div.retreat
          div.retreatN Retreat
          img.rentype(src=`/images/${card.type}.png`)