mixin pokemoncard(pokemon)

div(class=`pokemon ${pokemon.type}`)
    div.info-row.id
        div.name= pokemon.name
        div.right
            div.hp= pokemon.hp
            div.hpn hp
            div.type
                img.type(src=`/images/${pokemon.type}.png`)
    div.pic-head
        div.picture
            img.pic(src=`/images/${poke_img}.png`)
    div.move1
        div.energy
            img.entype(src=`/images/${pokemon.mtype1}.png`)
            img.entype(src=`/images/${pokemon.mtype2}.png`)
            img.entype(src=`/images/${pokemon.mtype3}.png`)
        div.mname= pokemon.mname
        div.d1= pokemon.d1
    div.move2
        div.energy2
            img.entype(src=`/images/${pokemon.m2type1}.png`)
            img.entype(src=`/images/${pokemon.m2type2}.png`)
            img.entype(src=`/images/${pokemon.m2type3}.png`)
        div.mName2= pokemon.m2name
        div.d2= pokemon.d2
    div.cardBottom
        div.weak
            div.weakN Weakness
            img.wentype(src=`/images/${pokemon.wentype}.png`)
        div.resistance
            div.resisN Resistance
            img.bentype(src=`/images/${pokemon.bentype}.png`)
        div.retreat
            div.retreatN Retreat
            img.rentype(src=`/images/${pokemon.rentype}.png`)

